<ion-header>
  <ion-navbar>
    <ion-title>
      Roles
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addRole()" icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <ion-list class="accordion-list">
    <ion-list-header *ngFor="let role of roles | async; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(role)" detail-none [ngClass]="{'section-active': role.open, 'section': !role.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!role.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="role.open"></ion-icon>
        {{ role.title }}
      </button>
 
      <ion-list *ngIf="role.open" no-lines>
        <!-- Second Level -->
        <ion-list-header *ngFor="let goal of role.goals; let j = index" no-padding>
 
          <!-- Direct Add Button as Fallback -->
          <ion-item ion-item detail-none class="child-item" text-wrap>
            <h2>{{ goal.title }}</h2>
          </ion-item>
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
</ion-content>
