<ion-header>
  <ion-navbar>
    <ion-title>
      Roles
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addRole()" icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <ion-list class="accordion-list">
    <ion-list-header *ngFor="let role of roles | async" no-lines no-padding>
      <ion-item  detail-none [ngClass]="{'section-active': role.open, 'section': !role.open}" (click)="getGoals(role)">
        <ion-icon item-left name="arrow-forward" *ngIf="!role.open" (click)="toggleSection(role)"></ion-icon>
        <ion-icon item-left name="close" *ngIf="role.open" (click)="toggleSection(role)"></ion-icon>
        <ion-icon item-right name="trash" *ngIf="role.open" color="dark" (click)="deleteRole(role)" padding-right></ion-icon>
        <ion-icon item-right name="create" *ngIf="role.open" color="dark" (click)="editRole(role)"></ion-icon>
        <ion-icon item-right name="add" *ngIf="role.open" color="dark" (click)="addGoal()" padding-left></ion-icon>
        {{ role.title }}
      </ion-item>
 
      <ion-list *ngIf="role.open" no-lines inset>
        <!-- Second Level -->
        <ion-list-header *ngFor="let goal of goals | async" no-padding>
          <!-- Direct Add Button as Fallback -->
          <ion-item no-padding (click)="editGoal(role, goal)">
            <h2>{{ goal.title }}</h2>
          </ion-item>
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
</ion-content>
